language: php

sudo: required

services:
  - docker

addons:
  hosts:
    - gulden-wallet.dev.zone

cache:
  directories:
    - $HOME/.composer/cache/files

php:
  - 7.0
  - 7.1
  - 7.2

branches:
  only:
  - master

before_script:
  - sudo /etc/init.d/mysql stop
  - mkdir -p build/logs
  - ./install-development
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

script:
  - composer test-ci

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT --debug
