version: '3'
services:
  web:
    image: nginx:1.13
    container_name: gulden-wallet-nginx
    volumes:
      - "./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf"
      - "./docker/nginx/default.template.conf:/etc/nginx/conf.d/default.template"
      - ".:/var/www/html"
    ports:
      - "80:80"
    restart: always
    depends_on:
      - php
      - mysql
  php:
    build: docker/php
    container_name: gulden-wallet-php
    restart: always
    volumes:
      - "./docker/php/php.ini:/usr/local/etc/php/conf.d/php.ini"
      - ".:/var/www/html"
  mysql:
    image: mysql:5.6.39
    container_name: gulden-wallet-mysql
    restart: always
    environment:
      - MYSQL_DATABASE=gulden_wallet
      - MYSQL_ROOT_PASSWORD=testtest
      - MYSQL_USER=gulden_web_user
      - MYSQL_PASSWORD=test_password
      - MYSQL_ROOT_HOST=%
    ports:
      - "3306:3306"
  development:
    build: docker/development
    command: /bin/true
    container_name: gulden-wallet-dev
    image: gulden-wallet-dev
