<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="./vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="true"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        strict="true"
        verbose="true">
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/backend</directory>
            <exclude>
                <directory suffix="Interface.php">src/backend</directory>
                <directory suffix="Exception.php">src/backend</directory>
            </exclude>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="All">
            <directory>tests/unit/backend</directory>
        </testsuite>
    </testsuites>
</phpunit>
