<?php
declare(strict_types=1);

return [
    'database' => [
        'host' => 'mysql',
        'db'   => 'gulden_wallet',
        'port' => 3306,
        'user' => 'gulden_web_user',
        'pass' => 'test_password',
    ],
    'node' => [
        'host' => 'localhost',
        'port' => 9232,
        'user' => 'username',
        'pass' => 'password',
    ],
];
